*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 70%;
}

header{
    padding-bottom: 80px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    text-align: center;
    padding-top: 80px;
}

div, section, span, ul, li, a, header {
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color:aquamarine;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    float: left;
    height: auto;
    position: relative;
}

#whatisab{
    background-color: blue;
    font-size: 50px;
}

#abareas{
    background-color: blueviolet;
    font-size: 50px;
}

#abofferings{
    background-color: burlywood;
    font-size: 50px;
}

#staff{
    background-color: chocolate;
    font-size: 50px;
}

#contact{
    background-color: cornflowerblue;
    font-size: 50px;
}


/*navbar*/

nav{
    background: #2d45ae;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky; top: 0;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0  60px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{ 
    background: #9bddff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #9bddff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #2d45ae;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 14px;
    margin-right: 10px;
    list-style-type: circle;
}

.list {
    list-style: square;
}

